<ul class="nav nav-pills nav-fill p-1" role="tablist" th:fragment="tab-list" xmlns:th="http://www.w3.org/1999/xhtml">
    <li class="nav-item">
        <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="#cam1" role="tab" aria-selected="true">
            <i class="material-icons text-lg position-relative">home</i>
            <span class="ms-1">Document</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="#cam2" role="tab" aria-selected="false">
            <i class="material-icons text-lg position-relative">email</i>
            <span class="ms-1">Type</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
            <i class="material-icons text-lg position-relative">settings</i>
            <span class="ms-1">Grade</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
            <i class="material-icons text-lg position-relative">settings</i>
            <span class="ms-1">localisation</span>
        </a>
    </li>
</ul>